In [ ]:
#maybe it is easier to convert to dataframe if input of function inputs are one-dimentional

#there may be better solutions, this is a simple approach

#maybe we should split calculateHjorth into 3 functions, each returns one number instead of a tuple, which is easier

#generateDF(): in the class: manually writh many 'for' loops with temp[i][0] for each function?

In [18]:
import numpy as np
import pandas as pd

In [19]:
FILE_DIR = 'eeg_fpz_cz/'
data = np.load(FILE_DIR+'SC4001E0.npz', allow_pickle=True)

In [20]:
x = data['x']
y = data['y']
x = np.squeeze(x, axis=2)
y = np.expand_dims(y, axis=1)
temp = np.zeros(y.shape) # for features, dataframe

In [21]:
df = pd.DataFrame(y, columns=['label'])
df.head()

   label
0      0
1      0
2      0
3      0
4      0

In [22]:
def calculateStandardDeviation(a): #input shape: (3000,), one dimention only
    return np.std(a)

In [23]:
def calculateMean(a):
    return np.mean(a)

In [24]:
for i in range(x.shape[0]):
    temp[i][0] = calculateStandardDeviation(x[i])

In [25]:
df['sd'] = temp
df.head()

   label        sd
0      0  0.002106
1      0  0.002606
2      0  0.003243
3      0  0.002671
4      0  0.002900

In [26]:
for i in range(x.shape[0]):
    temp[i][0] = calculateMean(x[i])

In [27]:
df['mean'] = temp
df.head()

   label        sd      mean
0      0  0.002106  0.000002
1      0  0.002606  0.000085
2      0  0.003243 -0.000021
3      0  0.002671 -0.000033
4      0  0.002900  0.000039